<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- 
      Этот раздел определяет конфигурацию Entity Framework.
   
    -->
    <section name="entityFramework" 
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             requirePermission="false" />
  </configSections>
  <startup>
     <!--   Этот раздел указывает, какую версию .NET Framework   должно использовать приложение. -->
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!-- 
      Этот раздел содержит строки подключения к базам данных.
      Строка подключения для Entity Framework называется "for_restoranEntities".
    -->
    <add name="for_restoranEntities" 
         connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=localhost;initial catalog=&quot;for restoran&quot;;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework'" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <!-- 
      Этот раздел содержит конфигурацию для Entity Framework.
      Здесь задается тип фабрики подключений по умолчанию.
    -->
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <!-- 
          Параметр "mssqllocaldb" указывает на локальную 
          базу данных SQL Server Express LocalDB. 
        -->
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <!-- 
      Этот раздел содержит список провайдеров для Entity Framework.
      Здесь указан провайдер для SQL Server.
    -->
    <providers>
      <provider invariantName="System.Data.SqlClient" 
                 type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
